
@font-face {
  font-family: 'Kanit-SemiBold';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/dc458db3/Kanit-semibold/Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/dc458db3/Kanit-semibold/Kanit-SemiBold.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/dc458db3/Kanit-semibold/Kanit-SemiBold.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/dc458db3/Kanit-semibold/Kanit-SemiBold.svg#Kanit-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
