
@font-face {
  font-family: 'Kanit-SemiBold';
  src: url('Kanit-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Kanit-SemiBold.woff') format('woff'), url('Kanit-SemiBold.ttf')  format('truetype'), url('Kanit-SemiBold.svg#Kanit-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
