
@font-face {
  font-family: 'DSELardPhrao';
  src: url('DSELardPhrao.eot?#iefix') format('embedded-opentype'),  url('DSELardPhrao.woff') format('woff'), url('DSELardPhrao.ttf')  format('truetype'), url('DSELardPhrao.svg#DSELardPhrao') format('svg');
  font-weight: normal;
  font-style: normal;
}
