
@font-face {
  font-family: 'DSELardPhrao';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9e71099d/DSE-LardPhrao/DSELardPhrao.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9e71099d/DSE-LardPhrao/DSELardPhrao.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9e71099d/DSE-LardPhrao/DSELardPhrao.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9e71099d/DSE-LardPhrao/DSELardPhrao.svg#DSELardPhrao') format('svg');
  font-weight: normal;
  font-style: normal;
}
