
@font-face {
  font-family: 'DSEPatPong';
  src: url('DSEPatPong.eot?#iefix') format('embedded-opentype'),  url('DSEPatPong.woff') format('woff'), url('DSEPatPong.ttf')  format('truetype'), url('DSEPatPong.svg#DSEPatPong') format('svg');
  font-weight: normal;
  font-style: normal;
}
