
@font-face {
  font-family: 'RSU';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/e8d05d11/RSU-regular/RSU.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/e8d05d11/RSU-regular/RSU.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/e8d05d11/RSU-regular/RSU.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/e8d05d11/RSU-regular/RSU.svg#RSU') format('svg');
  font-weight: normal;
  font-style: normal;
}
