
@font-face {
  font-family: 'LayijiMaHaNiYomV1-2';
  src: url('LayijiMaHaNiYomV1-2.eot?#iefix') format('embedded-opentype'),  url('LayijiMaHaNiYomV1-2.woff') format('woff'), url('LayijiMaHaNiYomV1-2.ttf')  format('truetype'), url('LayijiMaHaNiYomV1-2.svg#LayijiMaHaNiYomV1.2') format('svg');
  font-weight: normal;
  font-style: normal;
}
