
@font-face {
  font-family: 'Cloud-Bold';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/47a6f78e/Cloud-bold/Cloud-Bold.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9d667066/Cloud-bold/Cloud-Bold.otf')  format('opentype'),
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9d667066/Cloud-bold/Cloud-Bold.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9d667066/Cloud-bold/Cloud-Bold.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/9d667066/Cloud-bold/Cloud-Bold.svg#Cloud-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
