
@font-face {
  font-family: 'DSEPatPongExtend';
  src: url('DSEPatPongExtend.eot?#iefix') format('embedded-opentype'),  url('DSEPatPongExtend.woff') format('woff'), url('DSEPatPongExtend.ttf')  format('truetype'), url('DSEPatPongExtend.svg#DSEPatPongExtend') format('svg');
  font-weight: normal;
  font-style: normal;
}
