
@font-face {
  font-family: 'TeXGyreAdventor-Regular';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/0d8a32b4/texgyreadventor-regular/TeXGyreAdventor-Regular.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/0d8a32b4/texgyreadventor-regular/TeXGyreAdventor-Regular.otf')  format('opentype'),
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/0d8a32b4/texgyreadventor-regular/TeXGyreAdventor-Regular.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/0d8a32b4/texgyreadventor-regular/TeXGyreAdventor-Regular.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/0d8a32b4/texgyreadventor-regular/TeXGyreAdventor-Regular.svg#TeXGyreAdventor-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
