
@font-face {
  font-family: 'RSU-Bold';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8cf48776/RSU-bold/RSU-Bold.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8cf48776/RSU-bold/RSU-Bold.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8cf48776/RSU-bold/RSU-Bold.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8cf48776/RSU-bold/RSU-Bold.svg#RSU-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
