
@font-face {
  font-family: 'RSU-Bold';
  src: url('RSU-Bold.eot?#iefix') format('embedded-opentype'),  url('RSU-Bold.woff') format('woff'), url('RSU-Bold.ttf')  format('truetype'), url('RSU-Bold.svg#RSU-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
