
@font-face {
  font-family: 'CSChatThai';
  src: url('CSChatThai.eot?#iefix') format('embedded-opentype'),  url('CSChatThai.woff') format('woff'), url('CSChatThai.ttf')  format('truetype'), url('CSChatThai.svg#CSChatThai') format('svg');
  font-weight: normal;
  font-style: normal;
}
