
@font-face {
  font-family: 'CSChatThai';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8b53eaf5/CSChatThai/CSChatThai.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8b53eaf5/CSChatThai/CSChatThai.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8b53eaf5/CSChatThai/CSChatThai.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/8b53eaf5/CSChatThai/CSChatThai.svg#CSChatThai') format('svg');
  font-weight: normal;
  font-style: normal;
}
