
@font-face {
  font-family: 'PR8Charade';
  src: url('PR8Charade.eot?#iefix') format('embedded-opentype'),  url('PR8Charade.woff') format('woff'), url('PR8Charade.ttf')  format('truetype'), url('PR8Charade.svg#PR8Charade') format('svg');
  font-weight: normal;
  font-style: normal;
}
