
@font-face {
  font-family: 'ThaiSansLite';
  src: url('https://cdn.rawgit.com/siwakornkrataipong/font2017/a6782c19/Thai-Sans-Lite/ThaiSansLite.eot?#iefix') format('embedded-opentype'),  
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/a6782c19/Thai-Sans-Lite/ThaiSansLite.woff') format('woff'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/a6782c19/Thai-Sans-Lite/ThaiSansLite.ttf')  format('truetype'), 
       url('https://cdn.rawgit.com/siwakornkrataipong/font2017/a6782c19/Thai-Sans-Lite/ThaiSansLite.svg#ThaiSansLite') format('svg');
  font-weight: normal;
  font-style: normal;
}
